
@{
    ViewData["Title"] = "Default";
}
@using VeryGenericSite.Models;
@model CarouselItemModel

<div class="container">
       <div class="d-flex">
           <div class=""
       </div>
</div>


<div class="carousel d-inline-block">
    <partial name="~/Views/Shared/CarouselItemPartial.cshtml" model=@Model/>
    <button class="mycarouselprevbutton border-0" type="button">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>


    <button class="mycarouselnextbutton border-0" type="button">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

@{
    int textnumb;
    int imgnumb;
    
    for(int i = 0; i<(Model.ImgSpecificText.Length/2); i++)
    {
        imgnumb = @Model.ImgSpecificText[i, 0];
        textnumb = @Model.ImgSpecificText[i, 1];

        <input type="hidden" readonly="readonly" id="imgnumbcarouselevent+@i.ToString()" value="@imgnumb.ToString()" />
        <input type="hidden" readonly="readonly" id="textnumbcarouseleven+@i.ToString()" value="@textnumb.ToString()" />
    };
}
