@using MarioHabo.Models

@model BackgroundOverlayVideoPlayerModel
    <div class="row g-0 d-flex flex-nowrap">
        @foreach (var i in Model.Video)
        {
           <video src="@i.VideoPath" autoplay muted autobuffer playsinline loop class="ps-0 pe-0">                                           
               <div class="d-inline-block">                                            
                   <p><span class="bottom">@Model.WaterMark</span></p>           
               </div>                                                                      
           </video>
        }
    </div>


           
                                   
           
                                   
                       
              
